.hex {
    background-image: url(hex.jpg?v=2020-09-29);
    background-repeat: no-repeat;
    display: block;
}

.hex.Absorption {
    width: 56px;
    height: 64px;
    background-position: -1px -1px;
}

.hex.AdaptiveArmor {
    width: 56px;
    height: 64px;
    background-position: -59px -1px;
}

.hex.AddedProjectiles {
    width: 56px;
    height: 64px;
    background-position: -117px -1px;
}

.hex.AdrenalModule {
    width: 56px;
    height: 64px;
    background-position: -175px -1px;
}

.hex.AdvancedEngineering {
    width: 56px;
    height: 64px;
    background-position: -233px -1px;
}

.hex.Aegis {
    width: 56px;
    height: 64px;
    background-position: -291px -1px;
}

.hex.Agility {
    width: 56px;
    height: 64px;
    background-position: -349px -1px;
}

.hex.Ally {
    width: 56px;
    height: 64px;
    background-position: -407px -1px;
}

.hex.Amp {
    width: 56px;
    height: 64px;
    background-position: -465px -1px;
}

.hex.Annihilation {
    width: 56px;
    height: 64px;
    background-position: -523px -1px;
}

.hex.ApexMachinery {
    width: 56px;
    height: 64px;
    background-position: -581px -1px;
}

.hex.Apotheosis {
    width: 56px;
    height: 64px;
    background-position: -639px -1px;
}

.hex.Architect {
    width: 56px;
    height: 64px;
    background-position: -697px -1px;
}

.hex.AssaultDrones {
    width: 56px;
    height: 64px;
    background-position: -755px -1px;
}

.hex.Assault {
    width: 56px;
    height: 64px;
    background-position: -813px -1px;
}

.hex.Ataraxia {
    width: 56px;
    height: 64px;
    background-position: -1px -67px;
}

.hex.AutoMines {
    width: 56px;
    height: 64px;
    background-position: -59px -67px;
}

.hex.Barrage {
    width: 56px;
    height: 64px;
    background-position: -117px -67px;
}

.hex.Barrier {
    width: 56px;
    height: 64px;
    background-position: -175px -67px;
}

.hex.Bastion {
    width: 56px;
    height: 64px;
    background-position: -233px -67px;
}

.hex.BattalionDrones {
    width: 56px;
    height: 64px;
    background-position: -291px -67px;
}

.hex.Battery {
    width: 56px;
    height: 64px;
    background-position: -349px -67px;
}

.hex.BladeDrone {
    width: 56px;
    height: 64px;
    background-position: -407px -67px;
}

.hex.BlastRadius {
    width: 56px;
    height: 64px;
    background-position: -465px -67px;
}

.hex.Blink {
    width: 56px;
    height: 64px;
    background-position: -523px -67px;
}

.hex.Blitz {
    width: 56px;
    height: 64px;
    background-position: -581px -67px;
}

.hex.Bravado {
    width: 56px;
    height: 64px;
    background-position: -639px -67px;
}

.hex.Breach {
    width: 56px;
    height: 64px;
    background-position: -697px -67px;
}

.hex.BurnoutReactors {
    width: 56px;
    height: 64px;
    background-position: -755px -67px;
}

.hex.BurstFire {
    width: 56px;
    height: 64px;
    background-position: -813px -67px;
}

.hex.Calibrate {
    width: 56px;
    height: 64px;
    background-position: -1px -133px;
}

.hex.Candescence {
    width: 56px;
    height: 64px;
    background-position: -59px -133px;
}

.hex.Carrier {
    width: 56px;
    height: 64px;
    background-position: -117px -133px;
}

.hex.CelestialSurge {
    width: 56px;
    height: 64px;
    background-position: -175px -133px;
}

.hex.Channeling {
    width: 56px;
    height: 64px;
    background-position: -233px -133px;
}

.hex.ChaoticAmbition {
    width: 56px;
    height: 64px;
    background-position: -291px -133px;
}

.hex.ChargedMines {
    width: 56px;
    height: 64px;
    background-position: -349px -133px;
}

.hex.ChargedShot {
    width: 56px;
    height: 64px;
    background-position: -407px -133px;
}

.hex.ConcentratedBlast {
    width: 56px;
    height: 64px;
    background-position: -465px -133px;
}

.hex.Convergence {
    width: 56px;
    height: 64px;
    background-position: -523px -133px;
}

.hex.Conversion {
    width: 56px;
    height: 64px;
    background-position: -581px -133px;
}

.hex.CoreShielding {
    width: 56px;
    height: 64px;
    background-position: -639px -133px;
}

.hex.Corrosion {
    width: 56px;
    height: 64px;
    background-position: -697px -133px;
}

.hex.CounterArtillery {
    width: 56px;
    height: 64px;
    background-position: -755px -133px;
}

.hex.Counterpulse {
    width: 56px;
    height: 64px;
    background-position: -813px -133px;
}

.hex.Courser {
    width: 56px;
    height: 64px;
    background-position: -1px -199px;
}

.hex.Dart {
    width: 56px;
    height: 64px;
    background-position: -59px -199px;
}

.hex.DeadlyWake {
    width: 56px;
    height: 64px;
    background-position: -117px -199px;
}

.hex.DeathBlossom {
    width: 56px;
    height: 64px;
    background-position: -175px -199px;
}

.hex.DecoySignal {
    width: 56px;
    height: 64px;
    background-position: -233px -199px;
}

.hex.DefaultBody {
    width: 56px;
    height: 64px;
    background-position: -291px -199px;
}

.hex.DefaultShield {
    width: 56px;
    height: 64px;
    background-position: -349px -199px;
}

.hex.DefaultWeapon {
    width: 56px;
    height: 64px;
    background-position: -407px -199px;
}

.hex.DefenseDrone {
    width: 56px;
    height: 64px;
    background-position: -465px -199px;
}

.hex.Defiance {
    width: 56px;
    height: 64px;
    background-position: -523px -199px;
}

.hex.Discharge {
    width: 56px;
    height: 64px;
    background-position: -581px -199px;
}

.hex.Discord {
    width: 56px;
    height: 64px;
    background-position: -639px -199px;
}

.hex.Displacement {
    width: 56px;
    height: 64px;
    background-position: -697px -199px;
}

.hex.DoubleTap {
    width: 56px;
    height: 64px;
    background-position: -755px -199px;
}

.hex.Doubleteam {
    width: 56px;
    height: 64px;
    background-position: -813px -199px;
}

.hex.Drones {
    width: 56px;
    height: 64px;
    background-position: -1px -265px;
}

.hex.DyingStar {
    width: 56px;
    height: 64px;
    background-position: -59px -265px;
}

.hex.EchoStrike {
    width: 56px;
    height: 64px;
    background-position: -117px -265px;
}

.hex.Efficiency {
    width: 56px;
    height: 64px;
    background-position: -175px -265px;
}

.hex.ElegantConstruction {
    width: 56px;
    height: 64px;
    background-position: -233px -265px;
}

.hex.EmergencySystems {
    width: 56px;
    height: 64px;
    background-position: -291px -265px;
}

.hex.EnergizedShields {
    width: 56px;
    height: 64px;
    background-position: -349px -265px;
}

.hex.Engineer {
    width: 56px;
    height: 64px;
    background-position: -407px -265px;
}

.hex.Enmity {
    width: 56px;
    height: 64px;
    background-position: -465px -265px;
}

.hex.EssenceSap {
    width: 56px;
    height: 64px;
    background-position: -523px -265px;
}

.hex.Evasion {
    width: 56px;
    height: 64px;
    background-position: -581px -265px;
}

.hex.Evolution {
    width: 56px;
    height: 64px;
    background-position: -639px -265px;
}

.hex.EvolutionaryNiche {
    width: 56px;
    height: 64px;
    background-position: -697px -265px;
}

.hex.Firefly {
    width: 56px;
    height: 64px;
    background-position: -755px -265px;
}

.hex.FiringArray {
    width: 56px;
    height: 64px;
    background-position: -813px -265px;
}

.hex.Flak {
    width: 56px;
    height: 64px;
    background-position: -1px -331px;
}

.hex.FlashShielding {
    width: 56px;
    height: 64px;
    background-position: -59px -331px;
}

.hex.Fleet {
    width: 56px;
    height: 64px;
    background-position: -117px -331px;
}

.hex.Flotilla {
    width: 56px;
    height: 64px;
    background-position: -175px -331px;
}

.hex.FocusFire {
    width: 56px;
    height: 64px;
    background-position: -233px -331px;
}

.hex.FocusedShields {
    width: 56px;
    height: 64px;
    background-position: -291px -331px;
}

.hex.ForceArmor {
    width: 56px;
    height: 64px;
    background-position: -349px -331px;
}

.hex.FormationRampart {
    width: 56px;
    height: 64px;
    background-position: -407px -331px;
}

.hex.Fusillade {
    width: 56px;
    height: 64px;
    background-position: -465px -331px;
}

.hex.GalvanicOutburst {
    width: 56px;
    height: 64px;
    background-position: -523px -331px;
}

.hex.Gemini {
    width: 56px;
    height: 64px;
    background-position: -581px -331px;
}

.hex.Grandeur {
    width: 56px;
    height: 64px;
    background-position: -639px -331px;
}

.hex.Grenade {
    width: 56px;
    height: 64px;
    background-position: -697px -331px;
}

.hex.Guardian {
    width: 56px;
    height: 64px;
    background-position: -755px -331px;
}

.hex.Halo {
    width: 56px;
    height: 64px;
    background-position: -813px -331px;
}

.hex.HeatSeeking {
    width: 56px;
    height: 64px;
    background-position: -1px -397px;
}

.hex.HeavyCaliber {
    width: 56px;
    height: 64px;
    background-position: -59px -397px;
}

.hex.Helix {
    width: 56px;
    height: 64px;
    background-position: -117px -397px;
}

.hex.HiddenPower {
    width: 56px;
    height: 64px;
    background-position: -175px -397px;
}

.hex.HighExplosive {
    width: 56px;
    height: 64px;
    background-position: -233px -397px;
}

.hex.HomingStrike {
    width: 56px;
    height: 64px;
    background-position: -291px -397px;
}

.hex.HullRegeneration {
    width: 56px;
    height: 64px;
    background-position: -349px -397px;
}

.hex.HullStrength {
    width: 56px;
    height: 64px;
    background-position: -407px -397px;
}

.hex.Hullbreaker {
    width: 56px;
    height: 64px;
    background-position: -465px -397px;
}

.hex.Hypermetabolism {
    width: 56px;
    height: 64px;
    background-position: -523px -397px;
}

.hex.ImprovedThrusters {
    width: 56px;
    height: 64px;
    background-position: -581px -397px;
}

.hex.IntegratedWeaponry {
    width: 56px;
    height: 64px;
    background-position: -639px -397px;
}

.hex.Interceptor {
    width: 56px;
    height: 64px;
    background-position: -697px -397px;
}

.hex.Juggernaut {
    width: 56px;
    height: 64px;
    background-position: -755px -397px;
}

.hex.KineticBoost {
    width: 56px;
    height: 64px;
    background-position: -813px -397px;
}

.hex.Lance {
    width: 56px;
    height: 64px;
    background-position: -1px -463px;
}

.hex.LastStand {
    width: 56px;
    height: 64px;
    background-position: -59px -463px;
}

.hex.LeafOnTheWind {
    width: 56px;
    height: 64px;
    background-position: -117px -463px;
}

.hex.Leviathan {
    width: 56px;
    height: 64px;
    background-position: -175px -463px;
}

.hex.LoadedMines {
    width: 56px;
    height: 64px;
    background-position: -233px -463px;
}

.hex.Maelstrom {
    width: 56px;
    height: 64px;
    background-position: -291px -463px;
}

.hex.Magnetism {
    width: 56px;
    height: 64px;
    background-position: -349px -463px;
}

.hex.Magnitude {
    width: 56px;
    height: 64px;
    background-position: -407px -463px;
}

.hex.Masochism {
    width: 56px;
    height: 64px;
    background-position: -465px -463px;
}

.hex.Mastery {
    width: 56px;
    height: 64px;
    background-position: -523px -463px;
}

.hex.Max {
    width: 56px;
    height: 64px;
    background-position: -581px -463px;
}

.hex.MediCharge {
    width: 56px;
    height: 64px;
    background-position: -639px -463px;
}

.hex.Mines {
    width: 56px;
    height: 64px;
    background-position: -697px -463px;
}

.hex.Mortar {
    width: 56px;
    height: 64px;
    background-position: -755px -463px;
}

.hex.Nanotech {
    width: 56px;
    height: 64px;
    background-position: -813px -463px;
}

.hex.Obsession {
    width: 56px;
    height: 64px;
    background-position: -1px -529px;
}

.hex.OmniShield {
    width: 56px;
    height: 64px;
    background-position: -59px -529px;
}

.hex.Outmaneuver {
    width: 56px;
    height: 64px;
    background-position: -117px -529px;
}

.hex.OutrageModule {
    width: 56px;
    height: 64px;
    background-position: -175px -529px;
}

.hex.Overclock {
    width: 56px;
    height: 64px;
    background-position: -233px -529px;
}

.hex.Overpower {
    width: 56px;
    height: 64px;
    background-position: -291px -529px;
}

.hex.Overseer {
    width: 56px;
    height: 64px;
    background-position: -349px -529px;
}

.hex.Payload {
    width: 56px;
    height: 64px;
    background-position: -407px -529px;
}

.hex.PhantomStrike {
    width: 56px;
    height: 64px;
    background-position: -465px -529px;
}

.hex.PointDefense {
    width: 56px;
    height: 64px;
    background-position: -523px -529px;
}

.hex.PolarInversion {
    width: 56px;
    height: 64px;
    background-position: -581px -529px;
}

.hex.PowerReserves {
    width: 56px;
    height: 64px;
    background-position: -639px -529px;
}

.hex.PowerSpike {
    width: 56px;
    height: 64px;
    background-position: -697px -529px;
}

.hex.PredatorDrones {
    width: 56px;
    height: 64px;
    background-position: -755px -529px;
}

.hex.PriorityZero {
    width: 56px;
    height: 64px;
    background-position: -813px -529px;
}

.hex.PropulsiveMunitions {
    width: 56px;
    height: 64px;
    background-position: -1px -595px;
}

.hex.Pulse {
    width: 56px;
    height: 64px;
    background-position: -59px -595px;
}

.hex.Purge {
    width: 56px;
    height: 64px;
    background-position: -117px -595px;
}

.hex.Purification {
    width: 56px;
    height: 64px;
    background-position: -175px -595px;
}

.hex.RadiantShields {
    width: 56px;
    height: 64px;
    background-position: -233px -595px;
}

.hex.Railgun {
    width: 56px;
    height: 64px;
    background-position: -291px -595px;
}

.hex.Rampage {
    width: 56px;
    height: 64px;
    background-position: -349px -595px;
}

.hex.Rancor {
    width: 56px;
    height: 64px;
    background-position: -407px -595px;
}

.hex.Ranger {
    width: 56px;
    height: 64px;
    background-position: -465px -595px;
}

.hex.RapidFire {
    width: 56px;
    height: 64px;
    background-position: -523px -595px;
}

.hex.RapidReconstruction {
    width: 56px;
    height: 64px;
    background-position: -581px -595px;
}

.hex.Rebirth {
    width: 56px;
    height: 64px;
    background-position: -639px -595px;
}

.hex.Rebuke {
    width: 56px;
    height: 64px;
    background-position: -697px -595px;
}

.hex.Reflect {
    width: 56px;
    height: 64px;
    background-position: -755px -595px;
}

.hex.RegenerativeShields {
    width: 56px;
    height: 64px;
    background-position: -813px -595px;
}

.hex.Regression {
    width: 56px;
    height: 64px;
    background-position: -1px -661px;
}

.hex.ReinforcedDrones {
    width: 56px;
    height: 64px;
    background-position: -59px -661px;
}

.hex.Research {
    width: 56px;
    height: 64px;
    background-position: -117px -661px;
}

.hex.RetaliationShields {
    width: 56px;
    height: 64px;
    background-position: -175px -661px;
}

.hex.RetributionSuper {
    width: 56px;
    height: 64px;
    background-position: -233px -661px;
}

.hex.Retribution {
    width: 56px;
    height: 64px;
    background-position: -291px -661px;
}

.hex.Revelation {
    width: 56px;
    height: 64px;
    background-position: -349px -661px;
}

.hex.Ricochet {
    width: 56px;
    height: 64px;
    background-position: -407px -661px;
}

.hex.RocketDrones {
    width: 56px;
    height: 64px;
    background-position: -465px -661px;
}

.hex.Rupture {
    width: 56px;
    height: 64px;
    background-position: -523px -661px;
}

.hex.Salvo {
    width: 56px;
    height: 64px;
    background-position: -581px -661px;
}

.hex.Sanctuary {
    width: 56px;
    height: 64px;
    background-position: -639px -661px;
}

.hex.SaturationFire {
    width: 56px;
    height: 64px;
    background-position: -697px -661px;
}

.hex.ScorchingWake {
    width: 56px;
    height: 64px;
    background-position: -755px -661px;
}

.hex.SelfDestruction {
    width: 56px;
    height: 64px;
    background-position: -813px -661px;
}

.hex.Sentinel {
    width: 56px;
    height: 64px;
    background-position: -1px -727px;
}

.hex.Service {
    width: 56px;
    height: 64px;
    background-position: -59px -727px;
}

.hex.ShieldCooldown {
    width: 56px;
    height: 64px;
    background-position: -117px -727px;
}

.hex.ShieldDurability {
    width: 56px;
    height: 64px;
    background-position: -175px -727px;
}

.hex.ShieldRadius {
    width: 56px;
    height: 64px;
    background-position: -233px -727px;
}

.hex.ShieldedDrones {
    width: 56px;
    height: 64px;
    background-position: -291px -727px;
}

.hex.Shockwave {
    width: 56px;
    height: 64px;
    background-position: -349px -727px;
}

.hex.SiegeWeaponry {
    width: 56px;
    height: 64px;
    background-position: -407px -727px;
}

.hex.SingularStrikeNew {
    width: 56px;
    height: 64px;
    background-position: -465px -727px;
}

.hex.SingularStrike {
    width: 56px;
    height: 64px;
    background-position: -523px -727px;
}

.hex.Siphon {
    width: 56px;
    height: 64px;
    background-position: -581px -727px;
}

.hex.Skirmish {
    width: 56px;
    height: 64px;
    background-position: -639px -727px;
}

.hex.Slipstream {
    width: 56px;
    height: 64px;
    background-position: -697px -727px;
}

.hex.Snipe {
    width: 56px;
    height: 64px;
    background-position: -755px -727px;
}

.hex.SolarHeart {
    width: 56px;
    height: 64px;
    background-position: -813px -727px;
}

.hex.SpecialistAlly {
    width: 56px;
    height: 64px;
    background-position: -1px -793px;
}

.hex.SpecialistDrone {
    width: 56px;
    height: 64px;
    background-position: -59px -793px;
}

.hex.SpecialistMine {
    width: 56px;
    height: 64px;
    background-position: -117px -793px;
}

.hex.SpecialistTurret {
    width: 56px;
    height: 64px;
    background-position: -175px -793px;
}

.hex.SplinterShot {
    width: 56px;
    height: 64px;
    background-position: -233px -793px;
}

.hex.Split {
    width: 56px;
    height: 64px;
    background-position: -291px -793px;
}

.hex.SpontaneousGeneration {
    width: 56px;
    height: 64px;
    background-position: -349px -793px;
}

.hex.Stabilization {
    width: 56px;
    height: 64px;
    background-position: -407px -793px;
}

.hex.Stealth {
    width: 56px;
    height: 64px;
    background-position: -465px -793px;
}

.hex.Strafe {
    width: 56px;
    height: 64px;
    background-position: -523px -793px;
}

.hex.Streamline {
    width: 56px;
    height: 64px;
    background-position: -581px -793px;
}

.hex.SupportSpecialist {
    width: 56px;
    height: 64px;
    background-position: -639px -793px;
}

.hex.TacticalLink {
    width: 56px;
    height: 64px;
    background-position: -697px -793px;
}

.hex.TargettingSystems {
    width: 56px;
    height: 64px;
    background-position: -755px -793px;
}

.hex.TempestBreak {
    width: 56px;
    height: 64px;
    background-position: -813px -793px;
}

.hex.Temporal {
    width: 56px;
    height: 64px;
    background-position: -871px -1px;
}

.hex.Terminate {
    width: 56px;
    height: 64px;
    background-position: -871px -67px;
}

.hex.ThermalLance {
    width: 56px;
    height: 64px;
    background-position: -871px -133px;
}

.hex.Torrent {
    width: 56px;
    height: 64px;
    background-position: -871px -199px;
}

.hex.Transmogrification {
    width: 56px;
    height: 64px;
    background-position: -871px -265px;
}

.hex.Turret {
    width: 56px;
    height: 64px;
    background-position: -871px -331px;
}

.hex.TwinStrike {
    width: 56px;
    height: 64px;
    background-position: -871px -397px;
}

.hex.Velocity {
    width: 56px;
    height: 64px;
    background-position: -871px -463px;
}

.hex.Viper {
    width: 56px;
    height: 64px;
    background-position: -871px -529px;
}

.hex.VitalBond {
    width: 56px;
    height: 64px;
    background-position: -871px -595px;
}

.hex.Void {
    width: 56px;
    height: 64px;
    background-position: -871px -661px;
}

.hex.VolatileShields {
    width: 56px;
    height: 64px;
    background-position: -871px -727px;
}

.hex.Vortex {
    width: 56px;
    height: 64px;
    background-position: -871px -793px;
}

.hex.WarMachine {
    width: 56px;
    height: 64px;
    background-position: -1px -859px;
}

.hex.WarpStrike {
    width: 56px;
    height: 64px;
    background-position: -59px -859px;
}

.hex.Warp {
    width: 56px;
    height: 64px;
    background-position: -117px -859px;
}

.hex.Warpath {
    width: 56px;
    height: 64px;
    background-position: -175px -859px;
}

.hex.WeaponizedShields {
    width: 56px;
    height: 64px;
    background-position: -233px -859px;
}

.hex.Wingman {
    width: 56px;
    height: 64px;
    background-position: -291px -859px;
}

.hex.Winnow {
    width: 56px;
    height: 64px;
    background-position: -349px -859px;
}
