*.code-workspace
/.vscode

/base-full/*
!/base-full/blank
/base-mini/*
!/base-mini/blank
/docs/*.n
/docs/localization.csv
/docs/Japanese.csv
/docs/French.csv
/docs/ChineseTraditional.csv
/docs/chineseSimplified.csv
/docs/brazilianPortuguese.csv
/docs/polish.csv
/docs/Russian.csv
/docs/Korean.csv