*.code-workspace
/.*
.*

/base-full/*
!/base-full/blank
/base-mini/*
!/base-mini/blank
*.n
localization.csv
Japanese.csv
French.csv
ChineseTraditional.csv
chineseSimplified.csv
brazilianPortuguese.csv
polish.csv
Russian.csv
Korean.csv
variables_base.csv